terraform {
  backend "s3" {
    bucket         = "test-terraform-state-123456789012"
    key            = "eks-project/test/terraform.tfstate"
    region         = "eu-west-2"

    dynamodb_table = "test-terraform-locks"
    encrypt        = true
  }
}